* {
box-sizing: border-box;
margin:0;
padding:0;
}

body {
font-size: 10px;
}

#section {
    width: 100vw;
}

.container-cards {
width: 100%;
}

.card {
    display: flex;
    flex-direction: column;
    background-color: #181818;
    width: 13rem;
    border-radius: 0.5rem;
    overflow: hidden;
}
        .card-header {
            display: flex;
            width: 100%;
        }

                .card-header img {
                    display: flex;
                    width: 100%;
                }

                .card-header video {
                    display: flex;
                    width: 100%;
                }

        .card-content {
            display: flex;
            flex-direction: column;
            width: 100%;
            height: auto;
            padding: 0.5rem;
        }

                .card-content-buttons {
                    display: flex;
                    width: 100%;
                    justify-content:flex-start;
                    padding-bottom: 0.4rem;
                }

                        .card-b-t {
                            display: flex;
                            flex-direction: column;
                            position: relative;
                            margin: 0.2rem;
                        }
                                .card-tooltip {
                                    display: none;
                                    position: absolute;
                                    color: black;
                                    background-color: white;
                                    border-radius: 0.2rem;
                                    padding: 0.1rem;
                                    z-index: 1;
                                    bottom: 120%;
                                    left: -30%;
                                }

                                .card-tooltip::after {
                                    content: "";
                                    position: absolute;
                                    top: 100%;
                                    left: 50%;
                                    margin-left: -5px;
                                    border-width: 5px;
                                    border-style: solid;
                                    border-color: white transparent transparent transparent;
                                }
                                .card-button-plus .card-tooltip {

                                }

                                .card-button-play {
                                    border: 1.5px solid white;
                                    background-color: white;
                                }

                                .card-button-plus, 
                                .card-button-dropdown,
                                .card-button-like {
                                border: 1.5px solid grey;
                                }

                                div[class^="card-button"] {
                                    display: flex;
                                    width: 1.6rem;
                                    height: 1.6rem;
                                    border-radius: 50%;
                                }
                                
                                        div[class^="card-button"] img {
                                            display: flex;
                                        }
                        .card-container-button-like {
                            display: flex;
                            position: relative;
                            width: 100%;
                            margin: 0.2rem;
                        }
                                .card-b-t-dislike {
                                    position: absolute;
                                    display: none;
                                }   
                                
                                .card-b-t-like {
                                    position: absolute;
                                }

                                .card-b-t-adoro {
                                    display: none;
                                    position: absolute;
                                }

                                        .card-container-button-like:hover {
                                            display: flex;
                                            align-items: center;
                                            margin: 0;
                                        }
                                        .card-container-button-like:hover .card-b-t-dislike {
                                            transform: translate(-30px);
                                            display: flex;
                                            background-color: #2a2a2a;
                                            border-top-left-radius: 50%;
                                            border-bottom-left-radius: 50%;
                                            border: 3px solid #2a2a2a;
                                        }
                                        
                                        .card-container-button-like:hover .card-b-t-like  .card-button-like{
                                            display: flex;
                                            background-color: #2a2a2a;
                                            border: 3px solid #2a2a2a;
                                            border-inline: 3px solid #2a2a2a;
                                            border-radius: 0%;
                                            box-sizing: content-box;
                                        }

                                        .card-container-button-like:hover .card-b-t-adoro {
                                            transform: translate(30px);
                                            display: flex;
                                            background-color: #2a2a2a;
                                            border-top-right-radius: 50%;
                                            border-bottom-right-radius: 50%;
                                            border: 3px solid #2a2a2a;
                                        }

                                .card-b-t-dropdown {
                                    display: flex;
                                    margin-left: auto;
                                }
                                

                .card-content-info {
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    line-height: 1rem;
                }
                .card-content-info span {
                    border: 1px solid grey;
                    margin-inline: 0.2rem 0.2rem 0.2rem 0;
                    padding: 0 0.3rem;
                }
                .card-content-info h4 {
                    color: #46d369;
                }

                .card-content-info p {
                    color: white;
                }

                .card-content-features {
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    line-height: 2rem;
                    
                }
                .card-content-features p {
                    color: grey;
                }

                .card-content-features span {
                    color: white;
                }

.card-hide {
    display: none;
} 
