.hero-section {
    padding-left: 5%;
    padding-top: 15%;
    background-image: url(assets/pictures/Hero-background-team7.webp);
    height: 470px;
    background-color: black;
}

.hero-text {
    font-family: Helvetica, Arial, sans-serif;
    font-size: medium;
    font-weight: bold;
    color: white;
    width: 400px;
}

.hero-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#button-play, #button-info {
    font-size: medium;
    font-weight: bold;
    color: black;
    background: white;
    height: 35px;
    width: 100px;
    border: 0.5px solid black;
    border-radius: 5px;
}

#button-play:hover {
    cursor: pointer;
}

#button-info {
    color: white;
    background: grey;
}

.hero-button-dx {

}