.hero-logo-scritte{
    height: 200px;
}
.hero-section{
    padding-top: 15%; background-image: url(assets/pictures/Hero-background-team7.webp); height: 470px; background-color: black;
}
.hero-logo-section{

}
.hero-scritta p{
    font-weight: bold;
    color: white;
    width: 400px;
    border:1px solid black;
}
.hero-bottoni{
border: 1px solid black;
width: 400px;
}
#button-riproduci{
    font-weight: bold;
    color:red;
    background: yellow;
    padding: 10px;
    padding-left:20px ;
    padding-right:20px;
    border: 0.5px solid black;
    border-radius: 9px;
}
#button-riproduci:hover{
    cursor: pointer;
}
#button-info{
    color:black;
    background: gray;
}
.hero-bottone-dx{

}